<section class="modal__container d-flex gap-3">
    <div class="modal__content w-100">
        <ng-container *ngIf="(collections$ | async) as collections">
            <div class="h3">
                Click to select from list
            </div>
            <mat-selection-list
            *ngIf="collections.length > 0; else noCollections"
            class="w-100"
            #collectionList
            [multiple]="false"
            >
            <mat-list-option
                *ngFor="let collection of collections"
                class="w-100"
                [value]="collection"
            >
                {{ collection.title }}
            </mat-list-option>
            </mat-selection-list>

            <ng-template #noCollections>
            <div class="text-center text-muted py-3">No collections found.</div>
            </ng-template>

            <div class="d-flex w-100 justify-content-end">
                <button
                    class="mt-2"
                    mat-raised-button
                    color="primary"
                    [disabled]="collections.length === 0"
                    (click)="addMovieToSelectedCollection()"
                    >
                    Add to Collection
                </button>
            </div>
        </ng-container>

    </div>
</section>
