<section class="modal__container d-flex gap-3">
    <div class="modal__image">
        <div class="skeleton skeleton-image">
        </div>
    </div>
    <div class="modal__info flex-grow-1">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="title-skeleton">
                <app-skeleton-text></app-skeleton-text>
            </div>
        </div>
        <div class="mb-3">
            <div class="description-skeleton">
                <app-skeleton-text></app-skeleton-text>
            </div>
        </div>
        <h3>
            <div class="description-skeleton">
                <app-skeleton-text></app-skeleton-text>
            </div>
        </h3>
        <h3>
            <div class="description-skeleton">
                <app-skeleton-text></app-skeleton-text>
            </div>
        </h3>
        <h3>
            <div class="description-skeleton">
                <app-skeleton-text></app-skeleton-text>
            </div>
        </h3>
        <h3>
            <div class="description-skeleton">
                <app-skeleton-text></app-skeleton-text>
            </div>
        </h3>
        
        <div class="mb-2">
        </div>
        <div class="description-skeleton">
            <app-skeleton-text></app-skeleton-text>
        </div>
    </div>
</section>