<section class="hero__container d-flex align-items-center w-100">

    <div class="w-100 mx-auto position-relative container-lg mb-5" style="filter: unset !important;">
        <div class="hero__content text-light">
            <div class="hero-title">
                <div>Welcome</div>
                <div class="mb-2">Millions of Movies, Series and People to Explore.</div>
            </div>

            <div class="mt-4">
                <app-search-input></app-search-input>
            </div>
        </div>
    </div>
    
</section>