.modal__image {
    img {
        min-width: 350px;
        max-width: 350px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.bg-tmdb {
    background: #01b4e4;
}

.fake-img {
    min-width: 350px;
    height: 525px;
    background: #e0e0e0;
}