<div class="d-flex flex-column gap-3">
    <div class="w-100">
        <mat-card class="example-card w-100" class="d-flex card-container p-0 shadow rounded-3 border" appearance="outlined">
            <div class="skeleton rounded-0 rounded-left" style="min-width:94px; min-height: 143px;"></div>
            <mat-card-content class="p-3 mb-0 w-100">
                <div class="d-flex flex-column h-100 justify-content-between">
                    <article class="d-flex flex-column justify-content-between w-100">
                        <div>
                            <div class="title-skeleton">
                                <app-skeleton-text></app-skeleton-text>
                            </div>
                            <div class="date-skeleton">
                                <app-skeleton-text></app-skeleton-text>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div>
                            <div class="w-100 pe-3">
                                <app-skeleton-text></app-skeleton-text>
                            </div>
                            <div class="w-75">
                                <app-skeleton-text></app-skeleton-text>
                            </div>
                        </div>
                    </article>
                </div>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>