@use 'src/styles/_skeleton.scss';
mat-card {
    min-height: 142px;
}
.card-container {
    img {
        width: 94px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.title-skeleton {
    width: 225px;
}

.date-skeleton {
    width: 100px;
}