.card-container {
    cursor: pointer;
    img {
        width: 94px;
        height: 142px;
        max-width: 94px;
        max-height: 142px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}