<header class="header__container d-flex">
    <div class="container-lg mx-auto d-flex align-items-center justify-content-between gap-4">
        <div class="header__anchors d-flex align-items-center gap-4">
            <div class="btn p-0">
                <img (click)="navigateToHome()" class="header__brand" src="../../../../assets/icons/brand-logo.svg" alt="">
            </div>
            <a>Movies</a>
            <a>Series</a>
            <a>People</a>
            <a>More</a>
        </div>
        <div class="header__nav-elements d-flex align-items-center gap-3">
            <button class="btn p-0 text-white h5 m-0" matTooltip="Create collection" (click)="navigateToCreateCollection()">
                <i class="bi bi-plus-circle"></i>
            </button>
            <button class="outline-white-btn rounded-1 m-0">
                EN
            </button>
            <button class="btn p-0 text-white h5 m-0 d-flex align-items-center" matTooltip="See collections" (click)="navigateToCollections()">
                <mat-icon>collections</mat-icon>
            </button>
        </div>
    </div>
</header>